<h2>Cart</h2>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Buy</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
    <tr>
      <td>
        <img class="gallery" class="pic-tile" src="/images/<%= product.imageUrl %>">
        <%console.log("in cart :",product.imageUrl)%>
      </td>
      <td>
        <%= product.productName %>
      </td>
      <td>
        <%= product.description %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>
        <%= product.category %>
      </td>

      <td>
        <a href="<%=`/shopping/${product._id}/buy`%>">
          Buy
        </a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>