<h> Wanna sell something?</h>
<a class="btn btn-lg btn-primary btn-block" href="/shopping/sell">Click here !!</a>

<h2>Product Table</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Cart</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
    <tr>
      <td>
        <a>
          <%= product.productName %>
        </a>
      </td>
      <td>
        <%= product.description %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>
        <%= product.category %>
      </td>

      <td>
        <a href="<%=`/bidding/${product._id}/addToCart`%>">
          Add to Cart
        </a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>


<h1><span>Product Gallery</span></h1>

<ul class="gallery">
  <% products.forEach(product => { %>
  <div class="pic-tile">
    <li>
      <p>test</p>
      <img src="./images/nikeGolf.jpg" alt="">
    </li>
  </div>
  <% }); %>
</ul>