<h> Wanna put something for auction</h>
<a class="btn btn-lg btn-primary btn-block" href="/bidding/sell">Click here !!</a>

<h2>Auction</h2>

<table class="table">
  <thead>
    <tr>
      
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Base Price</th>
      <th>current Bidding Price</th>
      <th>Time left</th>
      <th>Last Bidder</th>
      <th>Category</th>
      <th>Place Bid</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product=> { %>
      <tr>
        <td>
          <img class="gallery" class="pic-tile" src="images/<%= product.imageUrl %>">
        </td>
        <td>
          <a>
            <%= product.productName %>
          </a>
        </td>
        <td>
          <%= product.description %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= product.currentPrice %>
        </td>
        <td>
          <% let hours=parseInt(product.remainingTime); let min=parseInt((product.remainingTime *60)%60); let
            sec=parseInt((product.remainingTime *3600)%60); %>
            <%= hours %> hours and <%= min %> minutes
        </td>
        <% if(product.username_bid){ %>
          <td>
            <%= product.username_bid %>
          </td>
          <% }else{ %>
            <td>
              No bid yet
            </td>
            <% } %>
              <td>
                <%= product.category %>
              </td>
              <td>
                <a href="<%=`/bidding/${product._id}/${product.currentPrice}/placeBid`%>">
                  Place BID
                </a>
              </td>
      </tr>
      <% }); %>
  </tbody>
</table>