<h> Wanna put something for auction</h>
<a href="/bidding/sell">Click here !!</a>

<h2>Product Table</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Base Price</th>
      <th>current Bidding Price</th>
      <th>Time left</th>
      <th>Category</th>
      
    </tr>
  </thead>
  <tbody>
    <% product.forEach(product => { %>
    <tr>
      <td>
        <a >
          <%= product.productName %>
        </a>
      </td>
      <td>
        <%= product.description %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>
          <a>not done yet</a>
      </td>
      <td>
        <a>not done yet</a>
    </td>
      <td>
        <%= product.category %>
      </td>
      <td>
        <a href="<%=`/bidding/${product._id}/placeBid`%>">
          Place BID
        </a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
