<h2>Auctions</h2>
<table class="table">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Description</th>
      <th>Base Price</th>
      <th>current Bidding Price</th>
      <th>Time left</th>
      <th>Category</th>
      <th>Place Bid</th>

    </tr>
  </thead>
  <tbody>
    <% product1.forEach(product => { %>

    <% if(product.forBidding) { %>

    <tr>
      <td><img class="gallery" class="pic-tile" src="/images/<%= product.imageUrl %>"></td>
      <td>
        <a>
          <%= product.productName %>
        </a>
      </td>
      <td>
        <%= product.description %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>
        <%= product.currentPrice %>
      </td>
      <td>
        <%  let hours=parseInt(product.remainingTime);
            let min=parseInt((product.remainingTime *60)%60);
            let sec=parseInt((product.remainingTime *3600)%60);
        %>
        <%= hours %> hours and <%= min %> minutes
      </td>
      <td>
        <%= product.category %>
      </td>
      <td>
        <a href="<%=`/bidding/${product._id}/${product.currentPrice}/placeBid`%>">
          Place BID
        </a>
      </td>
    </tr>
    <% } %>
    <% }) %>
  </tbody>
</table>

<h2>Shop</h2>
<table class="table">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Cart</th>
    </tr>
  </thead>
  <tbody>
    <% product1.forEach(product => { %>
    <% if(!product.forBidding) { %>
    <tr>
      <td><img class="gallery" class="pic-tile" src="/images/<%= product.imageUrl %>"></td>
      <td>
        <a>
          <%= product.productName %>
        </a>
      </td>
      <td>
        <%= product.description %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>
        <%= product.category %>
      </td>

      <td>
        <a href="<%=`/shopping/${product._id}/addToCart`%>">
          Add to Cart
        </a>
      </td>
    </tr>
    <% } %>
    <% }) %>
  </tbody>
</table>