<h2>My Orders</h2>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
    <tr>
      <td>
            <img class="gallery" class="pic-tile" src="/images/<%= product.imageUrl %>" width="20" height="20">
      </td>
      <td>
        <a>
          <%= product.productName %>
        </a>
      </td>
      <td>
        <%= product.description %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>
        <%= product.category %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>